body, html { background-color: #E5E6E4; }

.container {
	margin-top: 30px;
}

header {
	background: url(../img/logo.png) no-repeat;
	width: 550px;
	height: 275px;
	margin: 0 auto 20px auto;
}

.btn-custom {
	color: #fff;
	background-color: #456990;
	border-color: #f4f4f4;
}
.btn-custom:hover {
	color: #fff;
	background-color: #335C81;
	border-color: #f4f4f4;
}

td {
	width: 25%;
]